.el-submenu .el-menu-item {
    font-size: 10px;
    &.is-active{
        background-color: $Menu_2;
        color: #fff;
    }
}
//选中的二级所对应的一级菜单样式
li.el-submenu{
    &.is-active.is-opened{
        .el-submenu__title{
             background-color:$Menu_1;
        }
       
    }
}
//  收缩状态下修改一级菜单选中背景色
.close{
    .el-submenu{
        &.is-opened{
            .el-submenu__title{
                background-color: $Menu_1;
            }
        }
    }
}
//  收缩状态下修改二级菜单样式
.el-menu--vertical{
    margin-left: -5px;
    .el-menu-item{
        line-height: 60px;
    }
    .el-menu-item:hover{
        background-color: $Menu_2;
    }
}