@charset "UTF-8";

//定义动画
@mixin webkit( $type, $value ) {
    -webkit-#{$type}: $value;
    -moz-#{$type}: $value;
    -o-#{$type}: $value;
    -ms-#{$type}: $value;
}

//定义label和表单元素之间的位置
@mixin labelDom ( $width,$align,$line-height,$font-size: 14 ){
    label{
        float: left;
        width: $width+px;
        text-align: $align;
        line-height: $line-height+px;
        font-size: $font-size+px;
    }
    .warp-content{
        margin-left: $width+px;
    }
}

.pull-right{ float: right }
.pull-left{ float: left }
.space-30 { margin-top: 30px }

//重置浏览器默认样式配置
@import './reset.scss';
//Homepage样式布局
@import './config.scss';
//子路由激活背景色修改
@import './elementChange.scss';


